nav{
    top: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-item{
    color: white;
    
}
body{
    background-image: url(Background/309478-P83VSI-858.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    position: fixed;
    bottom: 0;
}
.thumb-head{
    position: fixed;
    top:150px;
}
.thumb-item{
    padding-top: 100px;
    padding-right: 90px;
    float: left;
    border-radius: 200%;
}
.container-head{
    font-family: 'Rhodium Libre';
    position: absolute;
    top: 90px;
    left: 560px;
    color: white;
}
.thumbnail{
    position: absolute;
    top:140px;
    margin:auto;
    padding-left: 80px;
}