.jumbo{
    width: 90%;
    border: 2px;
    /* padding: left 10%;
    padding: right 10%;
    padding: top 10%;
    padding:bottom 10%; */
    height: 400px;
    color:violet;
    font-size: 4rem;
    font-family: serif;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 12px #fff;
    position: fixed;
    top: 20%;
    left:5%;
    right:5%;
}
.nav-wrapper{
    background:linear-gradient(to bottom, #000428 0%,#004e92 100%);
}
body{
   width: 100%;
   height: 100%;
   margin: 0px;
   background-image: url(RM3.jpg);
   background-size: cover;
   background-attachment: fixed;
   }
   .container{
       padding:0;
       width: 100px;
       height:28px;
   }
   .grid{
       width: 100%;
       height: 20px;

   }
   #logo{
       padding: 13px;
       
    }
    .team{
        text-align: center; 
        font-family: serif Georgia, 'Times New Roman', Times, serif;
        font-variant: small-caps;
        color: rgb(255, 255, 255);
        position: fixed;
        top:25%;
        left:38%;
        right:15%;
        letter-spacing: 1px;
        font: bold;
    }
    .right_features{
        font-variant: small-caps;
        color: rgb(255, 255, 255);
        position:fixed;
        left:30%;
        right:35%;
        top:40%;
        font-size: 25px;
        word-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-shadow: white,2px,2px;
        line-height: 33px;  

    }
    .left_features{
        font-variant: small-caps;
        color: rgb(255, 255, 255);
        position:fixed;
        left:60%;
        right:15%;
        top:40%;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-align: left;
        line-height: 33px;
        

    }
   /* #image{ 
     width:500px;
     height:160px;
     padding-top:2px;
     padding-bottom:3%;
   } */ 
/*div.logo{
    width: 15px;
    height: 40px;
    padding: 5px;
    background-image: url(RMLogo.png);
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/
 /* div.card{
    padding: 2%;
    width:200px;
    height: 20em;
}
div.card-image{
    padding:10px;
    width:14em;
    height:34em;
    background-position:relative;
    background-attachment: fixed;

}
.justify-content-right{
    position: fixed;
    right: 10px;
    top: 50px;     */
}